[View in Colaboratory](https://colab.research.google.com/github/OlaSam/Data-Analysis/blob/master/test_pwt.ipynb)

In [0]:
import pandas as pd
import numpy as np
df = pd.read.csv("https://docs.google.com/spreadsheets/d/10bzlkq2CR82bX4QuTzO_xY72_GEGmr8CSsHQBV64OEY/edit?usp=sharing")
type(df)
df

In [0]:
!pip install --upgrade -q gspread

In [16]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

df = gc.open('test_pwt').sheet1

# get_all_values gives a list of rows.
rows = df.get_all_values()
print(rows)

# Convert to a DataFrame and render.
import pandas as pd
pd.DataFrame.from_records(rows)

[[u'country', u'country isocode', u'year', u'POP', u'XRAT', u'tcgdp', u'cc', u'cg'], [u'Argentina', u'ARG', u'2000', u'37335.653', u'0.9995', u'295072.2187', u'75.71680538', u'5.57880429'], [u'Australia', u'AUS', u'2000', u'19053.186', u'1.72483', u'541804.6521', u'67.75902599', u'6.720097533'], [u'India', u'IND', u'2000', u'1006300.297', u'44.9416', u'1728144.375', u'64.57555133', u'14.07220577'], [u'Israel', u'ISR', u'2000', u'6114.57', u'4.07733', u'129253.8942', u'64.43645085', u'10.26668842'], [u'Malawi', u'MWI', u'2000', u'11801.505', u'59.54380833', u'5026.221784', u'74.70762418', u'11.65895449'], [u'South Africa', u'ZAF', u'2000', u'45064.098', u'6.93983', u'227242.3695', u'72.71871043', u'5.726546393'], [u'United States', u'USA', u'2000', u'282171.957', u'1', u'9898700', u'72.3470543', u'6.032453979'], [u'Uruguay', u'URY', u'2000', u'3219.793', u'12.09959167', u'25255.96169', u'78.97874028', u'5.108067988']]

,0,1,2,3,4,5,6,7
0,country,country isocode,year,POP,XRAT,tcgdp,cc,cg
1,Argentina,ARG,2000,37335.653,0.9995,295072.2187,75.71680538,5.57880429
2,Australia,AUS,2000,19053.186,1.72483,541804.6521,67.75902599,6.720097533
3,India,IND,2000,1006300.297,44.9416,1728144.375,64.57555133,14.07220577
4,Israel,ISR,2000,6114.57,4.07733,129253.8942,64.43645085,10.26668842
5,Malawi,MWI,2000,11801.505,59.54380833,5026.221784,74.70762418,11.65895449
6,South Africa,ZAF,2000,45064.098,6.93983,227242.3695,72.71871043,5.726546393
7,United States,USA,2000,282171.957,1,9898700,72.3470543,6.032453979
8,Uruguay,URY,2000,3219.793,12.09959167,25255.96169,78.97874028,5.108067988

In [21]:
print(df)

<Worksheet u'test_pwt' id:1280192531>